.main {
    align-content: center;
    text-align: center;
    border: 1px solid gray ;
    border-radius: 15px;
    background-color: lightyellow;
    margin: 2.3em;
    padding: 2em 3em;
}

.main h1 {
    padding-top: 0;
    margin-top: 0;
}

.main button {
    margin: 0.7em;
    padding: 0.5em;
    width: 150px;
}

.buttons {
    display: flex;
}

table th {
    border-bottom: 1px solid black;
}

table th, table td {
    padding: 5px;
}