@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    font-family: 'Roboto', sans-serif;
}

select, button {
    font-family: 'Roboto', sans-serif;
}

.main {
    align-content: center;
    text-align: center;
    border: 1px solid gray ;
    border-radius: 15px;
    background-color: lightyellow;
    margin: 2.3em;
    padding: 2em 3em;
}

.main h1 {
    padding-top: 0;
    margin-top: 0;
}

.main button {
    margin: 0.7em;
    padding: 0.5em;
    width: 150px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table th {
    border-bottom: 1px solid black;
}

table th, table td {
    padding: 5px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

.input {
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: center;
}

.input input {
    width: 100%;
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
}

.input select {
    width: 100%;
    border-radius: 5px;
}

.input .detail input {
    width: 50%;
    margin: 3px;
}

button {
    background-color: white;
    border-radius: 5px;
    transition: background 0.3s;
    border: 1px solid gray;
}

button:hover {
    background-color: lightgray;
}

.logout:hover {
    background-color: lightcoral;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
}

.spacer {
    width: 100px;
}

.note {
    height: 150px;
    width: 100%
}

table {
    width: 100%;
    margin-top: 15px;
}
