@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    font-family: 'Roboto', sans-serif;
}

select, button {
    font-family: 'Roboto', sans-serif;
}

.main {
    align-content: center;
    text-align: center;
    border: 1px solid gray ;
    border-radius: 15px;
    background-color: lightyellow;
    margin: 2.3em;
    padding: 2em 3em;
}

.main h1 {
    padding-top: 0;
    margin-top: 0;
}

.main button {
    margin: 0.7em;
    padding: 0.5em;
    width: 150px;
}

.buttons {
    display: flex;
}

table th {
    border-bottom: 1px solid black;
}

table th, table td {
    padding: 5px;
}

.input {
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: center;
}

.input input {
    width: 100%;
    border-radius: 5px;
}

button {
    background-color: white;
    border-radius: 5px;
    transition: background 0.5s;
    border: 1px solid gray;
}

button:hover {
    background-color: lightgray;
}